.header {
    color: rgb(241, 237, 228);
}

.image {
    text-align: center;
    background-image: url(donation4.jpg);
    background-size: cover;
    height: 300px;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
}